# **식품안전나라**
ex) http://openapi.foodsafetykorea.go.kr/api/인증키/I0580/xml/1/20 

1. **[Open API 메인 페이지](https://www.foodsafetykorea.go.kr/api/userApiKey.do#)**, **[API 활용 방법](https://www.foodsafetykorea.go.kr/api/howToUseApi.do?menu_grp=MENU_GRP34&menu_no=687)**, **[API 이용절차](https://www.foodsafetykorea.go.kr/api/board/boardDetail.do)**
1. **[영양사협회 영양소 섭취기준표](http://www.kns.or.kr/FileRoom/FileRoom_view.asp?mode=mod&restring=%252FFileRoom%252FFileRoom.asp%253Fxsearch%253D0%253D%253Dxrow%253D10%253D%253DBoardID%253DKdr%253D%253Dpage%253D1&idx=79&page=1&BoardID=Kdr&xsearch=1&cn_search)**
1. key : "8acba1823ae742359560"

## **1 함수로 만든내용 확인**
식품의약처 API 내용 활용함수 : **Json / DataFrame** 으로 출력
1. **'C005' :** '바코드제품정보'
1. **'I2570' :** '유통바코드'
1. **'I0490' :** '회수판매중지'
1. **'I0750' :** '식품영양정보DB'
1. **'COOKRCP01' :** '조리식품_레시피_DB'

In [2]:
from momukji import FoodSafe
from collections import OrderedDict
foodApi = FoodSafe()
foodKeys = OrderedDict({_ :foodApi.apiKey[_]['name']  for _ in foodApi.apiKey.keys()})
foodKeys

OrderedDict([('I0750', '식품영양정보DB'),
             ('COOKRCP01', '조리식품_레시피_DB'),
             ('I0490', '회수판매중지'),
             ('C005', '바코드제품정보'),
             ('I2570', '유통바코드')])

In [5]:
%%time
foodId = 'I0750'
foodApi.getData(foodId, 1, 2, foodApi.apiKey[foodId]['cols'], display=True)

******** 전체 Data 갯수 : 13,824 ********
CPU times: user 20.8 ms, sys: 575 µs, total: 21.4 ms
Wall time: 23.4 s

,번호,식품코드,식품군,식품이름,1회제공량(g),열량(kcal)(1회제공량당),탄수화물(g)(1회제공량당),단백질(g)(1회제공량당),지방(g)(1회제공량당),당류(g)(1회제공량당),나트륨(mg)(1회제공량당),콜레스테롤(mg)(1회제공량당),포화지방산(g)(1회제공량당),트랜스지방(g)(1회제공량당),가공업체명,구축년도,자료원
0,1,100101000100000001,곡류 및 그 제품,"고량미,알곡",100,349,67.8,10.1,3.7,N/A,N/A,N/A,N/A,N/A,,2001,농촌진흥청 식품성분표 DB
1,2,100101000200200001,곡류 및 그 제품,"겉귀리,생것",100,332,73.5,11.4,3.7,N/A,2,N/A,N/A,N/A,,2017,농촌진흥청 식품성분표 DB

In [6]:
result = []
from tqdm import tqdm
for _ in tqdm(range(1, 13824+1, 1000)):
    result.append(foodApi.getData(foodId, _, _+999, foodApi.apiKey[foodId]['cols']))

  7%|▋         | 1/14 [00:23<04:59, 23.01s/it]

******** 전체 Data 갯수 : 13,824 ********

 14%|█▍        | 2/14 [00:47<04:40, 23.40s/it]

******** 전체 Data 갯수 : 13,824 ********

 21%|██▏       | 3/14 [01:11<04:18, 23.51s/it]

******** 전체 Data 갯수 : 13,824 ********

 29%|██▊       | 4/14 [01:35<03:57, 23.75s/it]

******** 전체 Data 갯수 : 13,824 ********

 36%|███▌      | 5/14 [01:59<03:33, 23.73s/it]

******** 전체 Data 갯수 : 13,824 ********

 43%|████▎     | 6/14 [02:23<03:11, 23.91s/it]

******** 전체 Data 갯수 : 13,824 ********

 50%|█████     | 7/14 [02:47<02:46, 23.85s/it]

******** 전체 Data 갯수 : 13,824 ********

 57%|█████▋    | 8/14 [03:10<02:23, 23.84s/it]

******** 전체 Data 갯수 : 13,824 ********

 64%|██████▍   | 9/14 [03:35<02:00, 24.16s/it]

******** 전체 Data 갯수 : 13,824 ********

 71%|███████▏  | 10/14 [03:59<01:36, 24.09s/it]

******** 전체 Data 갯수 : 13,824 ********

 79%|███████▊  | 11/14 [04:24<01:12, 24.19s/it]

******** 전체 Data 갯수 : 13,824 ********

 86%|████████▌ | 12/14 [04:48<00:48, 24.27s/it]

******** 전체 Data 갯수 : 13,824 ********

 93%|█████████▎| 13/14 [05:13<00:24, 24.34s/it]

******** 전체 Data 갯수 : 13,824 ********

100%|██████████| 14/14 [05:37<00:00, 24.11s/it]

******** 전체 Data 갯수 : 13,824 ********

In [8]:
import pandas as pd

In [13]:
pd.concat(result).to_excel('data/food_nutrient.xls', index=None)

<br>

# **Kamis 식재료 정보수집**
**[Open API 관리 페이지](https://www.kamis.or.kr/customer/mypage/my_openapi/my_openapi.do)**
1. **[Regex Html Crawling](https://stackoverflow.com/questions/13823479/finding-all-tr-from-html-table-in-python)**
1. key : "fb54dcd7-218f-4297-8fa6-31cfcd0a897d"

```
'<title.*?>(.+?)</title>'  # 특정태그
"<[^>]+>|[^<]+"            # html 태그 내부의 한글 추출
'<.*?>'                    # 모든 태그
reg_table = '<table.*?>(.+?)</table>'
reg_table = '<font.*?>(.+?)</font>'
reg_table = '<.*?>'
reg_table = "<table.*?>(.*?)"
reg_table = '<table class="wtable3" .*?>(.*?)</table>'
```

## **1 Web 페이지 크롤링 함수 확인**
Kamis 식품정보 수집

In [3]:
%%time
from momukji import Kamis
Kamis().getData('2019-10-15', "100").head()

CPU times: user 103 ms, sys: 23.2 ms, total: 127 ms
Wall time: 472 ms

   구분        구분.1 구분.2  당일 (10/15)
0   쌀   일반계(20kg)   상품       45660
1   쌀   일반계(20kg)   중품       43520
2   쌀  햇일반계(20kg)   상품       47300
3   쌀  햇일반계(20kg)   중품       45020
4  찹쌀   일반계(40kg)   상품      123600

In [5]:
%%time
from momukji import Kamis
Kamis().getData('2019-10-15', "100" ,types=2).head()

CPU times: user 22.5 ms, sys: 7.03 ms, total: 29.6 ms
Wall time: 370 ms

   구분           구분.1 구분.2  당일 (10/15)
0   쌀      일반계(20kg)   상품       51077
1   쌀     햇일반계(20kg)   상품       53112
2  찹쌀       일반계(1kg)   상품        4874
3   콩  흰 콩(국산)(500g)   상품        4779
4   콩  흰 콩(국산)(500g)   중품        3282

## **2 API Json 호출**
1. **[Kamis OpenAPI Key 매뉴얼 페이지](https://www.kamis.or.kr/customer/reference/openapi_list.do)**
1. **[Kamis Code 상세 페이지](https://www.kamis.or.kr/customer/reference/openapi_list.do?action=detail&boardno=5)** | **[Code 다운로드](http://www.kamis.or.kr/customer/board/board_file.do?brdno=4&brdctsno=424245&brdctsfileno=12212)**
1. **[Kamis OpenAPI](https://www.kamis.or.kr/customer/reference/openapi_list.do?action=detail&boardno=8)** 식품정보 수집

In [8]:
from momukji import Kamis
resp = Kamis().getApi('2019-10-21', 500, cd=2)
resp.head(3)

,품목명,품종명,"상태(상품,중품)",일자(조회일자),가격(조회일자),일자(1일전),가격(1일전),일자(1주전),가격(1주전),일자(2주전),가격(2주전),일자(1개월전),가격(1개월전),일자(1년전),가격(1년전),일자(평년),가격(평년)
0,쇠고기,한우등심(100g),1등급,당일 (10/21),"9,003",1일전 (10/20),-,1주일전 (10/14),"9,040",2주일전 (10/07),"8,822",1개월전,"8,850",1년전,"8,461",일평년,"8,025"
1,쇠고기,한우등심(100g),1+등급,당일 (10/21),"11,047",1일전 (10/20),-,1주일전 (10/14),"11,090",2주일전 (10/07),"11,135",1개월전,"10,852",1년전,-,일평년,-
2,쇠고기,한우양지(100g),1등급,당일 (10/21),"5,579",1일전 (10/20),-,1주일전 (10/14),"5,658",2주일전 (10/07),"5,677",1개월전,"5,791",1년전,"5,491",일평년,"5,742"

<br>

# **서울시 농수산 식품공사 API**
1. https://www.garakprice.com/index.php?go_date=20191001  가락동 농산물 시세 Web
1. http://www.garak.co.kr/gongsa/jsp/gs/intro/common.jsp  JSP 호출주소

**[서울시 농산물 공사 OpenAPI](https://www.garak.co.kr/publicdata/selectPageListPublicData.do?sch_public_data_realm_code=1)**

```html
http://www.garak.co.kr/gongsa/jsp/gs/data_open/data.jsp?id=2087&passwd=1004&dataid=data4&pagesize=10
&pageidx=1&portal.templet=false&p_ymd=20190408&p_jymd=20190408&d_cd=2&p_jjymd=20130429
&p_pos_gubun=1&pum_nm=
```

## **1 API 를 활용한 수집**
가격정보를 **Xml API** 를 활용하여 수집

In [7]:
# 문제점...
# Page 를 순환하면서 1개의 객체만 있으면 list 갯수가 1개로만 출력

# 해결방법... (https://rfriend.tistory.com/482)
# 1개의 dict 을 DataFrame 변환 시, 데이터를 list로 변경해서 적용
# 그래야 컬럼, 데이터와 "인덱스" 를 자동으로 계산할 수 있다.

In [4]:
date_info = '20191022'

import pandas as pd
from momukji import Garak
xml_d_1   = Garak().getData(cd=1) # date_info, 
xml_d_2   = Garak().getData(cd=2) # date_info, 
xml_data  = pd.concat([xml_d_1, xml_d_2]).reset_index(drop=True)
xml_data.to_excel("data/food_Garak.xls", index=None)

100%|██████████| 70/70 [00:12<00:00,  5.81it/s]
100%|██████████| 16/16 [00:02<00:00,  7.23it/s]

## **2 Web 페이지를 활용한 수집기**
https://www.garakprice.com/index.php?go_date=20191021
1. 하지만 품목수가 부족해서 실익이 적음

In [157]:
# https://www.garakprice.com/index.php?go_date=20191021
from urllib import parse, request
def urllib_request(url, params, encode='utf-8'):
    params = parse.urlencode(params).encode(encode)
    url  = request.Request(url, params)
    resp = request.data/lopen(url).read()
    resp = parse.quote_plus(resp)
    return parse.unquote_plus(resp)

# params = { "go_date":20191021 }
# url    = "https://www.garakprice.com/index.php"
# urllib_request(url, params)[:500]

<br>

# **기타 공산품 가격정보**

**[Data.go.kr 공산품 가격정보](https://www.data.go.kr/dataset/3043385/openapi.do?lang=ko)**

## **1 공산품 Id 정보수집**
**[Data.go.kr 공산품 가격정보](https://www.data.go.kr/dataset/3043385/openapi.do?lang=ko)**
1. **[한국소비자원 참가격](https://www.price.go.kr/tprice/portal/pricenewsandtpriceintro/iteminfo/getItemList.do)**
1. **[유통상품지식뱅크](http://35.200.32.201/)**
1. 분류기준 명확하게 찾기

In [1]:
from momukji import Product
item_list = Product().getList()
item_list.head()

     Id                            Name      소분류코드   용량 용량구분
0  1072            풀무원 동물복지 목초란(대란 10개)  030101001   10   EA
1  1073  목초를 먹고 자란 건강한 닭이 낳은 달걀(대란 15개)  030101001   15   EA
2  1075              CJ 더안심 건강란(대란 15개)  030101001   15   EA
3  1074                  CJ 알짜란(대란 15개)  030101001   15   EA
4    50                     쇠고기 등심(1등급)  030101002  100    G

In [105]:
resp = requests.get().text

In [100]:
url = "http://ksetup.com/bbs/page.php?hid=code"

import re
import pandas as pd
from urllib import request, parse
resp = request.urlopen(url).read()
resp = parse.quote_plus(resp)
resp = parse.unquote_plus(resp)
table = re.findall(r'<table class="table table-bordered".*?>(.*?)</table>', resp, re.M|re.I|re.S)
table = "<table>" + table[0] + "</table>"
table = pd.read_html(table)[0]
# table.to_excel('company_code.xls', index=None, columns=None)
set(df.단위)

In [11]:
temp = datetime.today()
temp.strftime('%Y%m%d')

'20191021'

In [9]:
datetime.strftime(temp, '%Y%m%d')

'20191021'

## **2 알라딘 중고책**
api 크롤링을 사용한 데이터 수집

In [33]:
query = {
    "KeyWord":"파이썬", #"%C6%C4%C0%CC%BD%E3",
    "ViewType":"Detail",
    "SortOrder":5,  # 5:출시일순, 11:등록순
    "ViewRowCount":50,
    "page":2,    
}

In [35]:
url = "https://www.aladin.co.kr/search/wsearchresult.aspx?SearchTarget=UsedStore"
params = parse.urlencode(query).encode('cp949') # Params 인코딩 변환
resp   = request.Request(url, params)           # url 주소값 생성
resp   = request.urlopen(resp).read()           # url 을 활용한 response 수집
resp   = parse.quote_plus(resp)                 # response 의 byte 를 string 변환
resp   = parse.unquote_plus(resp, encoding='cp949') # string 인코딩 변환 (default='utf-8')

In [36]:
with open('book.html','w') as f:
    f.write(resp)

In [21]:
# decoding (기본값 utf-8)
parse.unquote_plus('%C4%F6%C6%AE', encoding='cp949')

'퀀트'

In [22]:
# encodings
parse.quote_plus("퀀트", encoding='cp949')

'%C4%F6%C6%AE'

In [ ]:
# <div class="Search3_Pager">
#     <table

In [35]:
with open("data/food_recipie.json", "r", encoding='utf-8-sig') as f:
    recipe = f.read()

In [43]:
import json
food_data = json.loads(recipe)
foods = [_ for _ in food_data.keys()]

In [44]:
food_data[foods[0]]

{'스모크햄': 10.0,
 '양배추': 20.0,
 '당근': 10.0,
 '오이': 15.0,
 '건포도': 2.0,
 '머스타드': 120.0,
 '사과': 120.0,
 '적채': 90.0,
 '마요네즈': 90.0,
 '스모크': 1.5}

In [ ]:
import codecs
decoded_data=codecs.decode(r.text, 'utf-8-sig')