# Style Pandas
**[Tutorial Blog](https://towardsdatascience.com/style-pandas-dataframe-like-a-master-6b02bf6468b0)**
- **[DataSets](https://github.com/wardviaene/hadoop-ops-course/blob/master/data/salaries.csv)**
- **[Pandas Style Document](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)**

# **1 Pandas 로 데이터 전처리**
## **01 데이터 불러오기**
Import CSV

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/salaries.csv', low_memory=False)\
       .replace('Not Provided', np.nan)\
       .astype({"BasePay":float, "OtherPay":float})
df.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

## **02 Options/ Setting API**
사용자 맞춤형 작업 API

In [2]:
# 숫자의 format 사용자 정의
# String 에 .lower() 메서드 적용
df.head(3).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})

In [3]:
# 컬럼의 값에 따라 스타일 적용
# 문자열 컬럼에만 속성값 적용
df.head(3).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})\
                 .hide_index()\
                 .applymap(lambda x: f"color: {'red' if isinstance(x,str) else 'black'}")

In [4]:
# 테이블 전체의 사용자 Style 변경
df.head(3).style.set_properties(**{'background-color': 'black',                                                   
                                    'color': 'lawngreen',                       
                                    'border-color': 'white'})

In [5]:
# 컬럼의 최댓값/ 최솟값에 스타일 적용
df.head(3).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})\
                 .hide_index()\
                 .highlight_max(color='darkgreen')\
                 .highlight_min(color='#cd4f39')

In [6]:
# 필드별 데이터 값을 Gradient 적용하기
df.head(3).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})\
                 .hide_index()\
                 .background_gradient(cmap='Blues')

/home/momukji/Python/Python/lib/python3.6/site-packages/matplotlib/colors.py:527: RuntimeWarning: invalid value encountered in less
  xa[xa < 0] = -1

In [7]:
df.head(3).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})\
                 .hide_index()\
                 .bar(subset=["OtherPay",], color='lightgreen')\
                 .bar(subset=["BasePay"], color='#ee1f5f')\
                 .bar(subset=["TotalPay"], color='#FFA07A')

## **03 to HTML**
스타일 내용을 html로 출력하기
- **.render()**

In [8]:
# 컬럼의 값에 따라 스타일 적용
# 문자열 컬럼에만 속성값 적용
_ = df.head(1).style.format({"BasePay": "${:20,.0f}", 
                          "OtherPay": "${:20,.0f}", 
                          "TotalPay": "${:20,.0f}",
                          "TotalPayBenefits":"${:20,.0f}"})\
                 .format({"JobTitle": lambda x:x.lower(),
                          "EmployeeName": lambda x:x.lower()})\
                 .hide_index()\
                 .applymap(lambda x: f"color: {'red' if isinstance(x,str) else 'black'}").render()

_[:500]

'<style  type="text/css" >\n    #T_cbae9536_3733_11ea_a155_94e6f721c262row0_col0 {\n            color:  black;\n        }    #T_cbae9536_3733_11ea_a155_94e6f721c262row0_col1 {\n            color:  red;\n        }    #T_cbae9536_3733_11ea_a155_94e6f721c262row0_col2 {\n            color:  red;\n        }    #T_cbae9536_3733_11ea_a155_94e6f721c262row0_col3 {\n            color:  black;\n        }    #T_cbae9536_3733_11ea_a155_94e6f721c262row0_col4 {\n            color:  red;\n        }    #T_cbae9536_3733_11ea'

In [9]:
with open('pandas_style.html', 'w') as f:
    f.write(_)